/*
    It doesn't matter where the definition is, the results are the same.
 */

:root {
    --header: #006699;
    --paragraph: #006666;
    padding: 1em;
}

h1 {
    color: var(--header, #006699);
}

p {
    color: var(--paragraph, #006666);
}

/* action */
#lorem:checked ~ article h1 {
    --header: #ff0000;
}